/**==========================================**
  CIDER  FONTS CSS 
**===========================================**/
@font-face {
  font-family: "Proxima Nova Black";
  src: url("http://db.onlinewebfonts.com/t/aa46d234cf405126cdd1c36600e4b978.eot");
  src: url("http://db.onlinewebfonts.com/t/aa46d234cf405126cdd1c36600e4b978.eot?#iefix") format("embedded-opentype"), url("http://db.onlinewebfonts.com/t/aa46d234cf405126cdd1c36600e4b978.woff2") format("woff2"), url("http://db.onlinewebfonts.com/t/aa46d234cf405126cdd1c36600e4b978.woff") format("woff"), url("http://db.onlinewebfonts.com/t/aa46d234cf405126cdd1c36600e4b978.ttf") format("truetype"), url("http://db.onlinewebfonts.com/t/aa46d234cf405126cdd1c36600e4b978.svg#Proxima Nova") format("svg"); }
.Proxima-Nova-Black {
  font-family: "Proxima Nova Black"; }

/**==========================================**
  LITE  FONTS CSS 
**===========================================**/
@font-face {
  font-family: "Proxima Nova Light Italic";
  src: url("http://db.onlinewebfonts.com/t/efc2820473a48f510ce341184e5c2daf.eot");
  src: url("http://db.onlinewebfonts.com/t/efc2820473a48f510ce341184e5c2daf.eot?#iefix") format("embedded-opentype"), url("http://db.onlinewebfonts.com/t/efc2820473a48f510ce341184e5c2daf.woff2") format("woff2"), url("http://db.onlinewebfonts.com/t/efc2820473a48f510ce341184e5c2daf.woff") format("woff"), url("http://db.onlinewebfonts.com/t/efc2820473a48f510ce341184e5c2daf.ttf") format("truetype"), url("http://db.onlinewebfonts.com/t/efc2820473a48f510ce341184e5c2daf.svg#Proxima Nova") format("svg"); }
@font-face {
  font-family: "Proxima Nova Regular Italic";
  src: url("http://db.onlinewebfonts.com/t/c8708c7ae9f1ccfd893ee01efdf0ac51.eot");
  src: url("http://db.onlinewebfonts.com/t/c8708c7ae9f1ccfd893ee01efdf0ac51.eot?#iefix") format("embedded-opentype"), url("http://db.onlinewebfonts.com/t/c8708c7ae9f1ccfd893ee01efdf0ac51.woff2") format("woff2"), url("http://db.onlinewebfonts.com/t/c8708c7ae9f1ccfd893ee01efdf0ac51.woff") format("woff"), url("http://db.onlinewebfonts.com/t/c8708c7ae9f1ccfd893ee01efdf0ac51.ttf") format("truetype"), url("http://db.onlinewebfonts.com/t/c8708c7ae9f1ccfd893ee01efdf0ac51.svg#Proxima Nova") format("svg"); }
@font-face {
  font-family: "Proxima Nova ExtraBold Italic";
  src: url("http://db.onlinewebfonts.com/t/1e378969cd70396aaadd59f9a7a5ab18.eot");
  src: url("http://db.onlinewebfonts.com/t/1e378969cd70396aaadd59f9a7a5ab18.eot?#iefix") format("embedded-opentype"), url("http://db.onlinewebfonts.com/t/1e378969cd70396aaadd59f9a7a5ab18.woff2") format("woff2"), url("http://db.onlinewebfonts.com/t/1e378969cd70396aaadd59f9a7a5ab18.woff") format("woff"), url("http://db.onlinewebfonts.com/t/1e378969cd70396aaadd59f9a7a5ab18.ttf") format("truetype"), url("http://db.onlinewebfonts.com/t/1e378969cd70396aaadd59f9a7a5ab18.svg#Proxima Nova") format("svg"); }
.Proxima-Nova-Light-Italic {
  font-family: "Proxima Nova Light Italic"; }

.Proxima-Nova-Regular-Italic {
  font-family: "Proxima Nova Regular Italic"; }

.Proxima-Nova-ExtraBold-Italic {
  font-family: "Proxima Nova ExtraBold Italic"; }

/**==========================================**
  MALT  FONTS CSS 
**===========================================**/
@font-face {
  font-family: "Copperplate Bold";
  src: url("http://db.onlinewebfonts.com/t/423c5077bf2221d0f77f1fb9cb97d92d.eot");
  src: url("http://db.onlinewebfonts.com/t/423c5077bf2221d0f77f1fb9cb97d92d.eot?#iefix") format("embedded-opentype"), url("http://db.onlinewebfonts.com/t/423c5077bf2221d0f77f1fb9cb97d92d.woff2") format("woff2"), url("http://db.onlinewebfonts.com/t/423c5077bf2221d0f77f1fb9cb97d92d.woff") format("woff"), url("http://db.onlinewebfonts.com/t/423c5077bf2221d0f77f1fb9cb97d92d.ttf") format("truetype"), url("http://db.onlinewebfonts.com/t/423c5077bf2221d0f77f1fb9cb97d92d.svg#Copperplate") format("svg"); }
.Copperplate-Bold {
  font-family: "Copperplate Bold"; }

/**==========================================**
  LAGER  FONTS CSS 
**===========================================**/
@font-face {
  font-family: "Chivo Black";
  src: url("http://db.onlinewebfonts.com/t/cbc42562de982b91847cdf42d93e0c1a.eot");
  src: url("http://db.onlinewebfonts.com/t/cbc42562de982b91847cdf42d93e0c1a.eot?#iefix") format("embedded-opentype"), url("http://db.onlinewebfonts.com/t/cbc42562de982b91847cdf42d93e0c1a.woff2") format("woff2"), url("http://db.onlinewebfonts.com/t/cbc42562de982b91847cdf42d93e0c1a.woff") format("woff"), url("http://db.onlinewebfonts.com/t/cbc42562de982b91847cdf42d93e0c1a.ttf") format("truetype"), url("http://db.onlinewebfonts.com/t/cbc42562de982b91847cdf42d93e0c1a.svg#Chivo") format("svg"); }
@font-face {
  font-family: "Chivo Regular";
  src: url("http://db.onlinewebfonts.com/t/8237ffd368a85f9ee9886d2d8b79c68b.eot");
  src: url("//db.onlinewebfonts.com/t/8237ffd368a85f9ee9886d2d8b79c68b.eot?#iefix") format("embedded-opentype"), url("http://db.onlinewebfonts.com/t/8237ffd368a85f9ee9886d2d8b79c68b.woff2") format("woff2"), url("http://db.onlinewebfonts.com/t/8237ffd368a85f9ee9886d2d8b79c68b.woff") format("woff"), url("http://db.onlinewebfonts.com/t/8237ffd368a85f9ee9886d2d8b79c68b.ttf") format("truetype"), url("http://db.onlinewebfonts.com/t/8237ffd368a85f9ee9886d2d8b79c68b.svg#Chivo") format("svg"); }
.Chivo-Black {
  font-family: "Chivo Black"; }

.Chivo-Regular {
  font-family: "Chivo Regular"; }

/**==========================================**
        COMMON CSS 
 **===========================================**/
body, html {
  font-family: "Chivo Regular";
  color: #000; }

hr {
  border: none;
  height: 1px;
  background-color: #ccc; }

.left {
  float: left; }

.right {
  float: right; }

.center {
  margin: auto;
  background-position: center;
  text-align: center;
  float: none; }

.hide {
  display: none; }

.visibilty {
  visibility: visible; }

.inline li {
  display: inline; }

ul {
  padding-left: 0px; }

.list-style-none li {
  list-style: none; }

.display-block {
  display: block; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.lowercase {
  text-transform: lowercase; }

.uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

.clr {
  clear: both; }

.full-width {
  width: 100vw; }

.full-height {
  height: 100vh; }

.overflow-hidden {
  overflow: hidden; }

a {
  text-decoration: none;
  outline: none;
  color: #fff;
  -webkit-transition: 0.6s ease-out;
  -moz-transition: 0.6s ease-out;
  transition: 0.6s ease-out; }

a:focus, a:hover {
  color: #C8C8C8; }

.border-none {
  border: none; }

.backgroundwhite {
  background: white; }

.panel {
  position: relative;
  margin: 0 0 1rem 0;
  padding: 1rem;
  background: #EEEDEA;
  color: #333333;
  color: #0a0a0a; }

.border-left {
  border-left: solid 1px #000; }

.line-height-normal {
  line-height: normal; }

.bullets-none {
  list-style: none; }

.background-transparent {
  background: transparent !important; }

.border-black {
  border: 1px solid #000; }

.border-white {
  border: 1px solid #fff; }

.fixed {
  position: fixed; }

.callout {
  border-radius: 0px; }

/**==========================================**
        COMMON PADDING CSS 
 **===========================================**/
.padding-0 {
  padding: 0; }

.padding-bottom-0 {
  padding-bottom: 0; }

.padding-top-5 {
  padding-top: 5px; }

.padding-bottom-5 {
  padding-bottom: 5px; }

.padding-top-10 {
  padding-top: 10px; }

.padding-bottom-10 {
  padding-bottom: 10px; }

.padding-top-15 {
  padding-top: 15px; }

.padding-bottom-15 {
  padding-bottom: 15px; }

.padding-top-20 {
  padding-top: 20px; }

.padding-bottom-20 {
  padding-bottom: 20px; }

.padding-top-25 {
  padding-top: 25px; }

.padding-bottom-25 {
  padding-bottom: 25px; }

.padding-top-30 {
  padding-top: 35px; }

.padding-bottom-30 {
  padding-bottom: 35px; }

.padding-left-30 {
  padding-left: 30px; }

/**==========================================**
       COMMON MARGIN CSS 
**===========================================**/
.margin-0 {
  margin: 0; }

.margin-bottom-0 {
  margin-bottom: 0; }

.margin-top-5 {
  margin-top: 5px; }

.margin-bottom-5 {
  margin-bottom: 5px; }

.margin-top-10 {
  margin-top: 10px; }

.margin-bottom-10 {
  margin-bottom: 10px; }

.margin-top-15 {
  margin-top: 15px; }

.margin-bottom-15 {
  margin-bottom: 15px; }

.margin-top-20 {
  margin-top: 20px; }

.margin-bottom-20 {
  margin-bottom: 20px; }

.margin-top-25 {
  margin-top: 25px; }

.margin-bottom-25 {
  margin-bottom: 25px; }

.margin-top-30 {
  margin-top: 30px; }

.margin-bottom-30 {
  margin-bottom: 30px; }

.margin-top-35 {
  margin-top: 35px; }

.margin-bottom-35 {
  margin-bottom: 35px; }

/**==========================================**
         COMMON SCROLLBAR CSS 
**===========================================**/
::-webkit-scrollbar {
  width: 12px;
  border: none; }

::-webkit-scrollbar-track {
  background-color: #eee;
  border: none; }

::-webkit-scrollbar-thumb {
  background-color: #000;
  border: none; }

::selection {
  background: #000;
  /* WebKit/Blink Browsers */
  color: white; }

::-moz-selection {
  background: #000;
  /* Gecko Browsers */
  color: white; }

/**==========================================**
         COMMON INPUT CSS 
**===========================================**/
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
select {
  height: 3rem;
  border-radius: 3px;
  outline: none;
  resize: none;
  background: white;
  border: none;
  box-shadow: none;
  color: #808080;
  width: 100%; }

textarea {
  height: 6rem; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
textarea:focus,
select:focus {
  background: white; }

input[type="text"]:hover,
input[type="password"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="month"]:hover,
input[type="week"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="color"]:hover,
textarea:hover,
select:hover {
  background: white; }

input[type="checkbox"] {
  margin: 5px 8px 0 0;
  cursor: pointer; }

input[type="number"] {
  padding: 0 0 0 10px; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1; }

input[type="submit"] {
  background-color: #000000;
  color: #fff;
  padding: 0.65em 1em;
  -webkit-appearance: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none; }

input[type="submit"]:hover, input[type="submit"]:focus {
  color: #FFf;
  background-color: #FFE100; }

select {
  background: #fff url(../assets/icon/select-arrow.png) no-repeat 100% 0px; }

select:hover {
  background: #fff url(../assets/icon/select-arrow.png) no-repeat 100% -37px; }

/**==========================================**
        FONT AWESOME CSS 
**===========================================**/
.fab {
  font-size: 14px;
  -moz-transition: color .5s ease-in-out;
  -webkit-transition: color .5s ease-in-out; }

.fab-2 {
  font-size: 16px; }

.fab-3 {
  font-size: 18px; }

.fab-4 {
  font-size: 24px; }

.fab-5 {
  font-size: 30px; }

.fab-6 {
  font-size: 80px; }

/**==========================================**
        LAGER BACKGROUND COLOR AND FONT COLOR CSS 
**===========================================**/
.yellow {
  background: #FFE100;
  background-color: #FFE100; }

.black {
  background: #000000; }

.color-yellow {
  color: #FFE100; }

.color-black {
  color: #000; }

.color-white {
  color: #fff; }

.color-yellow-shade {
  color: #fdd009; }

.yellow-shade {
  background: #e3bd11;
  background-color: #e3bd11; }

.black {
  color: #000; }

/**==========================================**
        MALT BACKGROUND COLOR AND FONT COLOR CSS 
**===========================================**/
.brown {
  background: #9C883F;
  background-color: #9C883F; }

.black {
  background: #000000; }

.color-brown {
  color: #9C883F; }

.color-black {
  color: #000; }

.color-white {
  color: #fff; }

.brown-shade {
  background: #75662f;
  background-color: #75662f; }

/**==========================================**
        LITE BACKGROUND COLOR AND FONT COLOR CSS 
**===========================================**/
.green {
  background: #008A2D;
  background-color: #008A2D; }

.black {
  background: #000000; }

.color-green {
  color: #008A2D; }

.color-black {
  color: #000; }

.color-white {
  color: #fff; }

.green-shade {
  background: #045e21;
  background-color: #045e21; }

/**==========================================**
        CIDER BACKGROUND COLOR AND FONT COLOR CSS 
**===========================================**/
.red {
  background: #BD2E2B;
  background-color: #BD2E2B; }

.black {
  background: #000000; }

.color-red {
  color: #BD2E2B; }

.color-black {
  color: #000; }

.color-white {
  color: #fff; }

.red-shade {
  background: #8d2220;
  background-color: #8d2220; }

 /**==========================================**
         BUTTON CSS 
**===========================================**/
.close-button, .close-button.medium {
  right: 1rem;
  top: .5rem;
  font-size: 2em;
  line-height: 1;
  position: absolute;
  color: #8a8a8a;
  cursor: pointer; }

.button {
  border-radius: 5px;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden; }
  .button:hover:after, .button:focus:after {
    height: 260%;
    opacity: 1; }
  .button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #000;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg); }
  .button:hover, .button:focus {
    color: #83878D;
    background-color: #Ffff; }

.button-rounded {
  border-radius: 5px;
  /*border: 1px solid #000;color: #000;*/
  text-transform: uppercase;
  display: block;
  background-color: transparent;
  outline: 0;
  clear: both;
  font-size: 15px; }

/**==========================================**
     LAGER   HOVER EFFECT CSS 
**===========================================**/
.inner-title {
  line-height: 5rem;
  /* font-size: 90px;*/
  font-size: 84px; }

.effect_overlay.panel {
  padding: 4rem 3rem 4rem 3rem; }

.effect_overlay {
  cursor: pointer;
  overflow: hidden; }
  .effect_overlay img {
    width: 100%;
    opacity: 0.95;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1); }
  .effect_overlay figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #cbc9c5;
    /*background: rgba(255, 255, 255, 0.5);*/
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0); }
  .effect_overlay:hover img {
    opacity: 0.6;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .effect_overlay:hover figcaption::before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0); }

/**==========================================**
        SOCIAL CSS 
**===========================================**/
ul.nav {
  padding: 0px;
  margin: 0px 0px 20px 0px; }
  ul.nav .drop-menu {
    animation: fadeInUp 1s;
    background: #000000b3; }
    ul.nav .drop-menu li {
      padding: 0px;
      margin: 0px;
      line-height: normal; }
      ul.nav .drop-menu li a {
        font-size: 14px;
        color: #fff; }
  ul.nav li {
    list-style: none; }
    ul.nav li:last-child a {
      border-bottom: solid rgba(255, 255, 255, 0.56) 1px; }
    ul.nav li a {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28) 50%, transparent 50%, transparent);
      background-position: 100% 0;
      background-size: 200% 100%;
      padding: 15px 0px 15px 0px;
      display: block;
      border-top: solid rgba(255, 255, 255, 0.56) 1px;
      text-transform: uppercase;
      font-size: 14px; }
      ul.nav li a:hover {
        background-position: 0 0; }
      ul.nav li a .fa-angle-down {
        margin-left: 10px;
        margin-right: 10px; }
  ul.nav .dropdown-pane {
    position: initial !important;
    margin: 0 auto;
    width: 200px; }

 /**==========================================**
        SOCIAL CSS 
**===========================================**/
ul.social {
  margin: 0 auto;
  padding: 0px; }
  ul.social li {
    padding-right: 10px; }
    ul.social li:last-child {
      padding-right: 0px; }

 /**==========================================**
        SIDEBAR CSS 
**===========================================**/
.side-bar {
  position: fixed;
  width: 17%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0px;
  z-index: 99;
  overflow-y: auto; }
  .side-bar img.logo {
    margin-top: 15px;
    max-width: 100%;
    width: 100px;
    height: auto; }
  .side-bar .button.button-rounded {
    width: 170px;
    margin: 20px auto; }

 /**==========================================**
        BANNER CSS 
**===========================================
**/
.reveal.wrapper-video {
  background: none;
  border: none;
  padding: 0px;
  width: 900px; }
  .reveal.wrapper-video .close-button {
    width: 40px;
    height: 40px;
    color: #fff;
    border: 2px solid #fff;
    font-size: 26px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    text-shadow: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
    -webkit-transition: 0.6s ease-out;
    -moz-transition: 0.6s ease-out;
    transition: 0.6s ease-out; }
    .reveal.wrapper-video .close-button:hover, .reveal.wrapper-video .close-button:focus {
      opacity: 0.7;
      filter: alpha(opacity=90);
      -webkit-transform: rotateZ(720deg);
      -moz-transform: rotateZ(720deg);
      transform: rotateZ(720deg); }

 /**==========================================**
        BANNER CSS 
**===========================================
**/
.banner.jarallax {
  min-height: 100vh;
  background: none; }

.video-loader {
  background: #1E1E1E url(../assets/icon/loader.gif) center center no-repeat;
  width: 100%; }

.image-loader {
  background: #1E1E1E url(../assets/icon/loader.gif) center center no-repeat;
  width: 100%; }

.banner {
  height: 95vh; }
  .banner h1 {
    color: white;
    font-size: 5.4rem;
    line-height: 4.5rem;
    position: absolute;
    bottom: 60px;
    left: 60px;
    margin: 0px; }

span[data-jarallax-element] {
  display: inline-block; }

.wrapper-widget {
  border: none;
  padding-left: 0px;
  padding-right: 0px; }
  .wrapper-widget .large-6.cell {
    overflow: hidden; }
    .wrapper-widget .large-6.cell img {
      /*  animation: scale 13s linear infinite;*/ }
@keyframes scale {
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); } }
    .wrapper-widget .large-6.cell:nth-child(1), .wrapper-widget .large-6.cell:nth-child(3) {
      padding-right: 0px; }
    .wrapper-widget .large-6.cell:nth-child(3) h2 {
      bottom: 70px; }
  .wrapper-widget .jarallax {
    height: 500px;
    overflow: hidden; }
  .wrapper-widget .loading {
    background: #1E1E1E url(../assets/icon/loader.gif) center center no-repeat; }
  .wrapper-widget .widget-caption {
    padding: 5rem 0rem 0rem 3rem;
    background: rgba(0, 0, 0, 0.3);
    height: 500px; }
    .wrapper-widget .widget-caption:hover, .wrapper-widget .widget-caption:focus {
      background: rgba(0, 0, 0, 0);
      cursor: pointer;
      -webkit-transition: background-color 2s ease-out;
      -moz-transition: background-color 2s ease-out;
      -o-transition: background-color 2s ease-out;
      transition: background-color 2s ease-out; }
    .wrapper-widget .widget-caption h2 {
      font-size: 4.4rem;
      line-height: 4rem;
      position: absolute;
      bottom: 155px;
      margin: 0px;
      padding: 0px; }
    .wrapper-widget .widget-caption span.play {
      position: absolute;
      right: 0px;
      left: 0px;
      top: 30%;
      bottom: 50%;
      outline: none; }
      .wrapper-widget .widget-caption span.play .fab-6 {
        text-align: center;
        margin: 0 auto;
        -webkit-transition: 0.6s ease-out;
        -moz-transition: 0.6s ease-out;
        transition: 0.6s ease-out; }
        .wrapper-widget .widget-caption span.play .fab-6:hover, .wrapper-widget .widget-caption span.play .fab-6:focus {
          color: #83878D;
          -webkit-transform: rotateZ(720deg);
          -moz-transform: rotateZ(720deg);
          transform: rotateZ(720deg); }
    .wrapper-widget .widget-caption .button {
      font-size: 22px;
      padding: .75em 1.5em;
      position: absolute;
      bottom: 75px;
      margin: 0px; }
    .wrapper-widget .widget-caption ul.social {
      position: absolute;
      bottom: 20px; }

.wrapper-widget.video-inner .jarallax {
  height: 350px;
  min-height: 350px; }
.wrapper-widget.video-inner span.play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  bottom: inherit; }
  .wrapper-widget.video-inner span.play .fab-6 {
    margin: 0px; }
.wrapper-widget.video-inner .large-4.cell:nth-child(1), .wrapper-widget.video-inner .large-4.cell:nth-child(2) {
  padding-right: 0px; }
.wrapper-widget.video-inner .widget-caption h2 {
  right: 0px;
  left: 0px;
  font-size: 3.4rem;
  line-height: 3rem; }

.banner-top-inner img {
  /* width: 205px;
   max-width: 100%;
   height: auto;*/ }
.banner-top-inner .image-loader {
  background: #fff url(../assets/icon/loader.gif) center center no-repeat;
  height: 100%; }
.banner-top-inner h1 {
  line-height: 6rem;
  font-size: 116px; }
.banner-top-inner h5 {
  font-size: 3rem;
  line-height: normal;
  line-height: 3rem; }
.banner-top-inner ul.grid-x.list-style-none {
  margin-left: 10px; }
  .banner-top-inner ul.grid-x.list-style-none li {
    position: relative;
    padding-left: 5%; }
    .banner-top-inner ul.grid-x.list-style-none li::before {
      content: '';
      height: 92%;
      position: absolute;
      left: 0;
      top: 4px;
      border-left: #000 solid 1px; }

 /**==========================================**
        JARALLAX CSS 
**===========================================
**/
.jarallax {
  position: relative;
  z-index: 0; }

.jarallax > .jarallax-img {
  position: absolute;
  object-fit: cover;
  /* support for plugin https://github.com/bfred-it/object-fit-images */
  font-family: 'object-fit: cover;';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

/**==========================================**
        AGE GATE CSS 
**===========================================**/
#age-gate {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: #FFE100 url(../assets/icon/loader.gif) center center no-repeat;
  z-index: 1004;
  cursor: wait; }
  #age-gate .button {
    background-color: #373D3F; }
  #age-gate .logo {
    margin-top: 30px; }
  #age-gate .error_age_text {
    color: red;
    font-weight: bold;
    font-size: 18px; }
  #age-gate select.error_age_text {
    color: red;
    border: 1px solid red; }
  #age-gate > div {
    text-align: center;
    color: #fff;
    margin: 0 auto;
    padding: 1em 2.25em;
    width: 100%;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: auto;
    margin: 0 auto;
    height: 100vh; }
  #age-gate .large-12.small-12.column {
    margin: 0 auto;
    width: 50%;
    vertical-align: middle;
    float: none; }
  #age-gate input, #age-gate select {
    background-color: rgba(255, 255, 255, 0.25);
    border-color: #cccccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #000;
    border: solid 1px rgba(255, 255, 255, 0.25); }
    #age-gate input:hover, #age-gate input:focus, #age-gate select:hover, #age-gate select:focus {
      border: solid 1px #FFE100; }
  #age-gate h1 {
    color: #fff;
    font-size: 34px;
    margin: 10px 0;
    font-family: 'Chivo Black'; }
  #age-gate p {
    margin: 0 0 15px;
    color: white; }
  #age-gate label {
    margin-bottom: 20px; }
  #age-gate .prefix {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    background: #FFE100;
    color: #fff;
    border-color: #FFE100;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    display: block; }
  #age-gate select {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px; }
  #age-gate .large-4 select {
    border-radius: 3px; }
  #age-gate .button {
    margin: 0rem 0px 1.25rem 0px;
    padding: .85em 5em; }

.pattern {
  background: url(../assets/icon/dotted.jpg);
  background-repeat: repeat;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw; }

  /**==========================================**
        REVEAL CSS 
**===========================================**/
#revealer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2000;
  pointer-events: none;
  top: 50%;
  left: 50%;
  opacity: 0; }

.revealer__layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

body.loaded .revealer__layer {
  -webkit-animation: anim-effect-1 1.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards;
  animation: anim-effect-1 1.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards; }

body.loaded .revealer__layer:nth-child(2) {
  -webkit-animation-name: anim-effect-2;
  animation-name: anim-effect-2;
  -webkit-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22); }

body.loaded .revealer__layer:nth-child(3) {
  -webkit-animation-name: anim-effect-3;
  animation-name: anim-effect-3;
  -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }

@-webkit-keyframes anim-effect-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  35%, 65% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  100% {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0); } }
@keyframes anim-effect-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  35%, 65% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  100% {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0); } }
@-webkit-keyframes anim-effect-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  45%, 55% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }
  100% {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0); } }
@keyframes anim-effect-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  45%, 55% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }
  100% {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0); } }
@-webkit-keyframes anim-effect-3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  45%, 55% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }
  100% {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0); } }
@keyframes anim-effect-3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  45%, 55% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }
  100% {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0); } }
.no-csstransitions #revealer {
  display: none; }

  /**==========================================**
        PRELOADER CSS 
**===========================================**/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #F2F2F2; }
  #loader-wrapper #loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 3px solid transparent;
    border-top-color: #fff;
    border-radius: 50%;
    animation: loader 2s linear infinite; }
    #loader-wrapper #loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border: 3px solid transparent;
      border-top-color: #000000;
      border-radius: 50%;
      animation: loader 3s linear infinite; }
    #loader-wrapper #loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border: 3px solid transparent;
      border-top-color: #fff;
      border-radius: 50%;
      animation: loader 1.5s linear infinite; }
    #loader-wrapper #loader img {
      max-width: 100%;
      width: 60px;
      height: auto;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      bottom: inherit; }

@keyframes loader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/**==========================================**
        FORM CSS 
**===========================================**/
.enquiry-form img {
  height: 97vh; }
.enquiry-form .content {
  overflow-y: auto;
  height: 95vh; }
  .enquiry-form .content p {
    margin-top: 0px; }
.enquiry-form h1 {
  bottom: 30px;
  right: 0px;
  left: 0px;
  font-size: 5rem;
  line-height: 4rem;
  padding-left: 10%; }
.enquiry-form img {
  animation: scale 13s linear infinite; }

/**==========================================**
        FOOTER CSS 
**===========================================**/
footer.callout {
  background: #000; }
  footer.callout .fas {
    margin-left: 5px;
    margin-right: 5px; }
  footer.callout a {
    color: #fff; }
    footer.callout a:hover, footer.callout a:focus {
      color: #FFE100; }
  footer.callout p {
    color: white;
    font-size: 11px;
    margin: 15px 0px 0px 0px; }

/*animation*/
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

  /**==========================================**
        CIDER OVERRIDE CSS 
**===========================================**/
.cider #loader-wrapper {
  background-color: #BD2E2B; }
.cider .button:hover, .cider .button:focus {
  color: #BD2E2B;
  background-color: #BD2E2B; }
.cider .wrapper-widget .widget-caption span.play .fab-6:hover, .cider .wrapper-widget .widget-caption span.play .fab-6:focus {
  color: #BD2E2B; }
.cider figcaption::before {
  background: #BD2E2B; }
.cider .top-button {
  background: #BD2E2B;
  background-color: #BD2E2B;
  color: #fff; }

  /**==========================================**
        LITE OVERRIDE CSS 
**===========================================**/
.lite #loader-wrapper {
  background-color: #008A2D; }
.lite .button:hover, .lite .button:focus {
  color: #045e21;
  background-color: #045e21; }
.lite .wrapper-widget .widget-caption span.play .fab-6:hover, .lite .wrapper-widget .widget-caption span.play .fab-6:focus {
  color: #008A2D; }
.lite figcaption::before {
  background: #008A2D; }
.lite .top-button {
  background: #008A2D;
  background-color: #008A2D;
  color: #fff; }

  /**==========================================**
        MALT OVERRIDE CSS 
**===========================================**/
.malt #loader-wrapper {
  background-color: #9C883F; }
.malt .button:hover, .malt .button:focus {
  color: #9C883F;
  background-color: #9C883F; }
.malt .wrapper-widget .widget-caption span.play .fab-6:hover, .malt .wrapper-widget .widget-caption span.play .fab-6:focus {
  color: #9C883F; }
.malt figcaption::before {
  background: #9C883F; }
.malt ul.nav li a {
  font-size: 13px; }
.malt .top-button {
  background: #9C883F;
  background-color: #9C883F;
  color: #fff; }

  /**==========================================**
        LAGER OVERRIDE CSS 
**===========================================**/
.lager #loader-wrapper {
  background-color: #FFE100; }
.lager .button:hover, .lager .button:focus {
  color: #FFE100;
  background-color: #FFE100; }
.lager .wrapper-widget .widget-caption span.play .fab-6:hover, .lager .wrapper-widget .widget-caption span.play .fab-6:focus {
  color: #FFE100; }
.lager figcaption::before {
  background: #FFE100; }
.lager .top-button {
  background: #FFE100;
  background-color: #FFE100;
  color: #fff; }

  /**==========================================**
       MOBILE HEADER CSS
**===========================================**/
.top-button {
  width: 200px;
  position: fixed;
  right: 0px;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 50%;
  height: 45px;
  margin: 0px;
  float: right;
  margin-right: -78px;
  z-index: 9;
  font-size: 18px;
  padding: 0.75em 1em; }
  .top-button .fa-shopping-cart {
    margin-left: 10px;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }

header.callout {
  border: none;
  display: none;
  position: fixed;
  z-index: 9;
  width: 100vw; }
  header.callout .button {
    border-radius: 0px;
    border: none;
    margin: 0px; }
    header.callout .button:hover, header.callout .button:focus {
      color: #FFf; }
  header.callout img.logo {
    max-width: 100vw;
    height: auto;
    width: 9.5vw; }
  header.callout ul {
    margin: 0px; }

.off-canvas {
  border: none;
  position: fixed; }
  .off-canvas img.logo {
    max-width: 100vw;
    height: auto;
    width: 100px;
    margin-bottom: 10px;
    outline: none; }
  .off-canvas ul.nav {
    margin-top: 10px;
    margin-bottom: 10px; }

.is-open-left img.logo {
  display: none; }

.logos figure.panel.effect_overlay {
  margin: 0px; }
.logos .large-3.medium-3.small-12.cell {
  padding-bottom: 1.4rem; }

/**==========================================**
        ACCORDION CSS 
**===========================================**/
.accordion .accordion-title.button {
  font-size: 20px; }
  .accordion .accordion-title.button:hover, .accordion .accordion-title.button:focus {
    color: #fff; }
  .accordion .accordion-title.button::before, .accordion .accordion-title.button::after {
    font-size: 30px;
    margin-top: -0.8rem; }

  /**==========================================**
        MEDIA QUESRIES CSS
**===========================================**/
@media only screen and (max-width: 1100px) {
  ul.nav li a {
    background-image: none; }
  li ul.nav:last-child {
    background-image: none; }

  .enquiry-form {
    margin-top: 52px; }
    .enquiry-form img {
      height: auto; }
    .enquiry-form h1 {
      font-size: 1.4rem;
      line-height: normal; }
    .enquiry-form .content {
      height: auto;
      margin-top: 20px; }

  .banner-top-inner ul.grid-x.list-style-none {
    margin: 0px; }
  .banner-top-inner img {
    max-width: 100%;
    height: auto;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 45px; }
  .banner-top-inner h1, .banner-top-inner h5 {
    font-size: 1.4rem;
    text-align: left;
    line-height: normal; }

  .wrapper-widget.video-inner .jarallax {
    height: 300px;
    min-height: 300px; }
  .wrapper-widget.video-inner .large-6.cell:nth-child(1), .wrapper-widget.video-inner .large-6.cell:nth-child(2) {
    padding-right: .625rem;
    padding-left: .625rem; }
  .wrapper-widget.video-inner .widget-caption h2 {
    font-size: 1.4rem;
    text-align: center;
    line-height: normal;
    margin: 0px; }

  .large-10.medium-12.small-12.cell {
    width: 100%; }

  .large-2.mobi {
    display: none; }

  header.callout {
    display: block; }
    header.callout img.logo {
      width: 35px; }

  .banner {
    height: auto; }
    .banner .jarallax {
      height: 360px;
      min-height: 360px; }
    .banner h1 {
      font-size: 1.4rem;
      text-align: left;
      line-height: normal; }

  .wrapper-widget {
    padding: 0px;
    margin: 0px; }
    .wrapper-widget .large-6.cell:nth-child(1), .wrapper-widget .large-6.cell:nth-child(3) {
      padding-right: .625rem;
      padding-left: .625rem; }
    .wrapper-widget .widget-caption {
      height: 100%;
      padding: 4rem 0rem 0rem 2rem; }
      .wrapper-widget .widget-caption h2 {
        font-size: 1.4rem;
        text-align: left;
        line-height: normal;
        margin: 0px; }
      .wrapper-widget .widget-caption .button {
        padding: 0.85em 2em;
        margin: 10px 0px 10px 0px;
        font-size: 14px;
        border-radius: 3px; }
      .wrapper-widget .widget-caption .fab {
        font-size: 1px; }
    .wrapper-widget .jarallax {
      height: 300px;
      min-height: 300px; }

  footer.callout p {
    text-align: center;
    float: none;
    margin: 0 auto; }

  #age-gate .button {
    margin: 0rem 0px 1rem 0px; }
  #age-gate > div {
    padding: 10px; }
  #age-gate .logo {
    width: 20vw;
    margin: 0px; }
  #age-gate h1 {
    font-size: 5.9vw; }
  #age-gate p {
    font-size: 2vmin; }
  #age-gate select, #age-gate input {
    margin-bottom: 20px; }
  #age-gate .grid-x.collapse.prefix-radius.margin-top-20.margin-bottom-20 {
    margin: 0px; }
  #age-gate .large-12.small-12.column {
    width: 100%; }
  #age-gate label {
    margin-bottom: 0px; }

  .inner-title {
    margin-top: 60px;
    margin-bottom: 0px; } }
/*iPad in portrait & landscape  hack*/

/*# sourceMappingURL=app.css.map */
